<template>
    <section>
        <div class="container">
            <div class="row row-cols-4">
                <div class="col-12 text-center">
                    <h5 class="mb-2">все ученики</h5>
                    <hr>


                    <div class="row">
                        <div class="col-12" style="overflow-y:scroll; height:400px;">
                            <table class="table text-start">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Находится в топиках</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item, index) in loadedLearners">

                                    <td> <input type="checkbox" :id="'checkbox'+item.id" v-model="checkedLearners" :value="item.id"></td>
                                    <td>{{item.id}}</td>
                                    <td>{{item.email}}</td>
                                    <td class="text-break" >
                                        <div v-for="value in item.topics" >
                                          <br><strong>{{value}}</strong>
                                        </div>

                                    </td>

                                </tr>

                                </tbody>
                            </table>

                         </div>
                    </div>




                </div>
            </div>
            <div class="row row-cols-4">
                <div class="col-12  mb-3">

                    <section v-show="errorInfo.length>0">
                        <div class="mt-3 mb-3 container">
                            <div class="row row-cols-4">
                                <div class="col-12 alert alert-warning text-left">
                                    <ul class="mt-2 mb-2 ">
                                        <li v-for="item in errorInfo">
                                            {{ item }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <hr>

                </div>
            </div>




            <div class="row row-cols-4">
                <div class="col-3  mb-3">
                    <input type="button" class="btn btn-danger" @click="delLearners" value="Удалить отмеченные">
                </div>
                <div class="col-3  mb-3">
                    <input type="button" class="btn btn-success" @click="addLearnerToTopic" value="Добавить выбранных к топику">
                </div>
                <div class="col-6  mb-3">
                    <select id="topicSelect" class="form-select" v-model="selectedTopic">
                        <option value="0" selected disabled >Выберите топик</option>
                        <option v-for="item in topics" :value="item.id" v-text="item.name"></option>
                    </select>
                </div>
            </div>





            <div class="row row-cols-4">
                <div class="col-8 text-left mb-5">
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="toForm" id="toForm" v-model="buttonRadio" value="toForm">
                        <label class="form-check-label" for="toForm">
                            Из формы (можно списком)
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="toFile" v-model="buttonRadio" id="toFile" value="toFile">
                        <label class="form-check-label" for="toFile">
                            Из файла
                        </label>
                    </div>
                </div>
            </div>

            <div class="row row-cols-4" v-show="buttonRadio=='toForm'">
                <div class="col-8 text-left">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Укажите Email адреса через запятую</label>
                        <textarea v-model="emailList" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="row row-cols-4" v-show="buttonRadio=='toForm'">
                <div class="col-12 text-left">
                    <input type="button" class="btn btn-info" value="Сохранить" @click="sendLearner">
                </div>
            </div>

            <div class="row row-cols-4" v-show="buttonRadio=='toFile'">
                <div class="col-8 text-left">
                    <div class="mb-3">

                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="file" ref="file" accept="text/*" v-on:change="handleFileUpload()"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</template>

<script>
    import axios from "axios";

    export default {
        props:['topics'],
        data() {
            return {
                buttonRadio:'toForm',
                file: '',
                emailList: [],
                loadedLearners:[],
                checkedLearners:[],
                selectedTopic:0,
                errorInfo:[]
            }
        },
        created() {
            //console.log(this.topics)
           this.getLearners()
           //console.log(this.topics[1].name)
        },
        methods: {
            async delLearners(){
                if (this.checkedLearners.length == 0) {
                    this.errorInfo.push('Вы не выбрали учеников!')
                    setTimeout(()=>{
                        this.errorInfo = []
                    },3000)
                } else {
                    await axios.delete('/learner/delete', {data:{ids:this.checkedLearners }})
                        .then(response => {
                            this.errorInfo = response.data
                            setTimeout(()=>{
                                this.errorInfo = []
                            },3000)
                            this.getLearners()
                        })
                }

            },
            async getLearners(){
                let result = await axios.get('/learners/')
                this.loadedLearners = result.data
                console.log(this.loadedLearners )
            },
            async sendLearner(){
                if (this.buttonRadio=='toForm'){
                    this.emailList=(this.emailList.split(','))
                }

                    await axios.post('/learner/store',{email:this.emailList })
                      .then(response => {
                          this.errorInfo = response.data
                          setTimeout(()=>{
                              this.errorInfo = []
                              this.emailList = []
                          },3000)
                          this.getLearners()
                      })
             },
            async addLearnerToTopic(){
              //  console.log(this.checkedLearners)
               // console.log(this.selectedTopic)

                if (this.selectedTopic==0) {
                    this.errorInfo.push('Вы не выбрали топик!')
                    setTimeout(()=>{
                        this.errorInfo = []
                    },3000)
                }

                if (this.checkedLearners.length == 0) {
                    this.errorInfo.push('Вы не выбрали учеников!')
                    setTimeout(()=>{
                        this.errorInfo = []
                    },3000)
                }
                if (this.checkedLearners.length >0 && this.selectedTopic>0) {

                        await axios.post('/learner/topicstore',{'topicID':this.selectedTopic, 'learnersID':this.checkedLearners})
                            .then(response=>(
                                this.errorInfo=response.data

                            ))
                            .catch(error=>(
                                this.errorInfo=error
                            ))
                           .finally(()=>{
                               setTimeout(()=>{
                                   this.errorInfo = []
                               },5000)
                           })


                }
            },

            handleFileUpload(){

                this.file = this.$refs.file.files[0];
                let reader  = new FileReader();
                reader.addEventListener("load", function () {

                    this.emailList=(reader.result.split('\r\n'))
                    this.sendLearner()
                    setTimeout(()=>{
                        this.errorInfo = []
                    }, 3000);
                    this.getLearners()
                }.bind(this), false);
                if( this.file ){
                    if ( /\.(txt)$/i.test( this.file.name ) ) {
                        reader.readAsText( this.file );
                        this.file=[]
                    }
                }
            }
        },
        watch:{
            buttonRadio() {
              //  console.log(this.buttonRadio)
            }
        }
    }
</script>
