<template>
    <aside v-for="(item, index) in  answer.allAnswer">
        <div class="input-group mb-3 mt-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" :value="item" :id="'id'+index" v-model="currentAllAnswer">
                <label class="form-check-label" :for="'id'+index">
                   {{item}}
                </label>
            </div>
        </div>
    </aside>

    <div class="row row-cols-4">
        <div class="col-12 text-center">

              <a :href="linkExit"> <input type="button" class="mt-5 p-3 btn btn-success" @click="endUnit()" value="Ответить"></a>

        </div>
    </div>
</template>

<script>
    export default {
        props:['unit','keyhash','exits'],

        data() {
            return {
                answer:[],
                currentAllAnswer:[],
                linkExit:'/topic/go/'+this.keyhash+'/',
                allExits:[],
                correctLink:'',
                incorrectLink:''
            }
        },
        created() {
            this.answer = JSON.parse(this.unit)
            this.allExits =JSON.parse(JSON.parse(this.exits))

            //console.log(this.allExits)
            this.allExits.map(item=>{
                if (item['correct']===true){
                    this.correctLink = item['link']
                } else {
                    this.incorrectLink = item['link']
                }
            })

        },
        methods:{
            endUnit(){

                const curAn = JSON.stringify(this.currentAllAnswer)
                const realAnswer = JSON.stringify(this.answer.correctAnswer)
                if(curAn===realAnswer) {
                    this.linkExit+=this.correctLink
                } else {
                    this.linkExit+=this.incorrectLink
                }

            }
        }
    }
</script>
