<template>
    <!-----------------------------ДОБАВЛЕНИЕ ЮНИТА------------------------------------------->
    <div class="container">
        <div class="row row-cols-4">
                <div class="col-12 text-center">
                    <h5 class="mb-2">Страница редактирования топиков и юнитов</h5>
                    <hr>
                </div>
        </div>
        <!-------------ФОРМА САМОГО ТОПИКА----------------------->
        <div class="row row-cols-4">
            <div class="col-6">
                <form action="/topic/update" id="topicDate" method="post">
                    <div class="mb-3">
                        <label for="topicName" class="form-label">Название урока [топика]:</label>
                        <input type="text" class="form-control" v-model="topic.name" id="topicName" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="topicStatus" class="form-label">Текущий статус:</label>
                        <input type="text" class="form-control" :value="currentStatus[topic.status]" id="topicStatus" name="topicStatus" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="topicCreated" class="form-label">Создан:</label>
                        <input type="text" class="form-control" v-model="topic.created_at" id="topicCreated" name="topicCreated" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="topicUpdate" class="form-label">Последнее изменение:</label>
                        <input type="text" class="form-control" id="topicUpdate" v-model="topic.updated_at" name="topicUpdate" disabled>
                    </div>
                    <input type="checkbox"  id="checkbox" name="is_active" v-model="topic.is_active" v-bind:true-value="1" v-bind:false-value="0" />
                    <label for="checkbox" class="mx=2">Активный</label><br>
                    <input type="hidden" name="_token" v-model="topic.token">
                    <input type="hidden" name="id" v-model="topic.id">
                    <input type="hidden" name="status" v-model="topic.status">
                    <input type="submit" class="mt-3 btn btn-outline-info" value="  сохранить изменения  ">
                    <section v-if="topic.status==1" v-show="checkButton">
                        <input type="button" class="mt-3  p-2 btn btn-success" @click="checkTopic()" value=" Проверить и запустить   ">
                    </section>
                    <section v-else>

                    </section>
                </form>
            </div>
            <!-------------КОНЕЦ ФОРМЫ САМОГО ТОПИКА----------------------->

            <div class="col-6">
                <h5>Блоки урока:</h5>
                <!-------------БЛОК ВЫБОРА ЮНИТА------------------------------->
                <select v-model="selectedFields" @change="changeUnitSelect()" class="form-select form-select-lg mb-3" >
                    <option disabled value="">Выберите Блок</option>
                    <option value="info">Информация</option>
                    <option value="choice">Условие</option>
                    <option value="quiz">Опрос</option>
                </select>
                <!-------------КОНЕЦ БЛОКА ВЫБОРА ЮНИТА------------------------->

                <!-------------ФОРМА ДОБАВЛНИЯ ИНФО БЛОКА----------------------->
                <div class="mb-3" v-show="UnitFormVisible.info">
                    <form @submit.prevent="addUnit('info')">
                        <label for="infoName" class="form-label">Введите информационный текст:</label>
                        <textarea name="infoName" required class="form-control" id="infoName" rows="3"  v-model="infoObj.name"></textarea>
                        <input type="submit" class="my-3 btn btn-outline-primary"  value="Добавить">
                    </form>
                </div>
                <!-------------КОНЕЦ ФОРМЫ ДОБАВЛНИЯ ИНФО БЛОКА----------------------->

                <!-------------ФОРМА ДОБАВЛНИЯ БЛОКА УСЛОВИЙ----------------------->
                <div class="mb-3" v-show="UnitFormVisible.choice">
                    <form name="formChoice" id="formChoice" @submit.prevent="addUnit('choice')">
                        <label for="formChoice" class="form-label">Введите условие:</label>
                        <textarea name="choiceName" class="form-control" id="choiceName" rows="3"  v-model="choiceObj.name"></textarea>
                        <input type="submit" class="my-3 btn btn-outline-primary"  value="Добавить">
                    </form>
                </div>
                <!-------------КОНЕЦ ФОРМЫ ДОБАВЛНИЯ БЛОКА УСЛОВИЙ----------------------->

                <!-------------ФОРМА ДОБАВЛЕНИЯ ОПРОСА---------------------->
                <div class="mb-3" v-show="UnitFormVisible.quiz">
                    <form name="formQuiz" id="formQuiz" @submit.prevent="addUnit('quiz')">
                        <label for="quizName" class="form-label">Введите вопрос:</label>
                        <input name="quizName" class="form-control" id="quizName"  v-model="quizObj.question"/>
                        <p>Укажите необходимое количество ответов и отметьте верный(е)</p>
                        <aside v-for="(item, index) in quizObj.allAnswer">
                            <div class="input-group mb-3 mt-2">
                                <input type="text" class="form-control" id="{{ item }}" v-model="quizObj.allAnswer[index]"  aria-describedby="id_{{ index }}">
                                <span class="input-group-text" id="id_{{ index }}">
                                     <div class="form-check">
                                         <input class="form-check-input" name="is_active" type="checkbox" id="id_{{index}}" :value="quizObj.allAnswer[index]" v-model="quizObj.correctAnswer">
                                    </div>
                                </span>
                             </div>
                        </aside>
                        <button class="btn btn-outline-info" @click.prevent="addAnswerField('add')"><span class="material-icons">add</span></button>
                        <button class="ms-2 btn btn-outline-danger" @click.prevent="delAnswerField('add')"><span class="material-icons">remove</span></button>
                        <br><input type="submit" class="mt-3 btn btn-outline-info"  value="Добавить" />
                    </form>
                </div>
                <!-------------КОНЕЦ ФОМРМЫ ДОБАВЛЕНИЯ ОПРОСА---------------------->
            </div>
        </div>
    </div>
    <!-----------------------------КОНЕЦ ФОРМ ДОБАВЛЕНИЕ ЮНИТА-------------------------------->

    <!-----------------------------БЛОК ВЫВОДА ИНФОРМАЦИИ О ХОДЕ ПРОВЕРКИ ЮНИТОВ-------------->
    <section v-show="consoleInformSection">
    <div class="mt-5 mb-5 container bg-dark">
        <div class="row row-cols-4">
            <div class="col-12">
                <ul class="mt-2 mb-2 text-white">
                    <li v-for="item in consoleInform">
                        {{ item }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
    <!-----------------------------КОНЕЦ БЛОКА ВЫВОДА ИНФОРМАЦИИ О ХОДЕ ПРОВЕРКИ ЮНИТОВ------->

    <!-----------------------------БЛОК ВЫВОДА ВСЕХ ЮНИТОВ ТЕКУЩЕГО ТОПИКА ------------------->
    <div class="mt-4 container">
    <section v-if="loadedUnits.length>0">

            <div class="row">
                <div class="col-12">
                    <h5 class="mb-2 text-center">Все блоки текущего урока</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                   <table class="table table-striped table-hover">
                     <thead>
                        <tr>

                <th scope="col">ID Блока</th>
                <th scope="col">Тип Блока</th>
                <th scope="col">Содержимое</th>
                <th scope="col">Стартовый</th>
                <th scope="col">Выходы</th>
                <th scope="col">Действие</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in loadedUnits">

                <td>{{item.id}}</td>
                <td>{{nameUnitsRu[item.type]}}</td>
                <td><p class="flex-wrap">{{item.name.substr(0,40)}}</p></td>
                <td v-if="item.start"><span class="material-icons">done_outline</span></td>
                <td v-else></td>
                <td>
                <span v-for="(itm, index) in JSON.parse(item.exits)">
                   [{{ itm.link}}],
                </span>
                </td>
                <td>
                    <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delUnitModal"  @click="showDelUnitModal(item.id, item.name)"><span class="material-icons">delete_forever</span></button>
                    <a :href="'#'+item.type+'FormEdit'"> <button class="ms-2 btn btn-outline-warning" @click="showEditUnit(item.id, item.type)"><span class="material-icons">edit</span></button></a>
                </td>
            </tr>

            </tbody>
        </table>
                </div>
            </div>

    </section>
    <section v-else>
        <div class="row">
            <div class="col-12">
                <hr class="mb-3">
                <h5 class="text-center">Для данного урока еще нет блоков</h5>
            </div>
        </div>
    </section>
    </div>
    <!-----------------------------КОНЕЦ БЛОКА ВЫВОДА ВСЕХ ЮНИТОВ ТЕКУЩЕГО ТОПИКА------------->

    <!-----------------------------МОДАЛЬНОЕ ОКНО УДАЛЕНИЯ ЮНИТА ------------------------------>
        <div class="modal fade" id="delUnitModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Подтвердите удаление</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="contentDelete">
                      <div v-show="tempDel.showContent">
                          Вы хотите удалить блок:
                          <p>{{tempDel.name}}</p>
                          с идентификатором: <strong>{{tempDel.id}}</strong>
                      </div>

                        <div v-show="tempDel.showSpinner" class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="closeDelForm" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-danger" @click="deleteUnit(tempDel.id)">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
    <!-----------------------------КОНЕЦ МОДАЛЬНОГО ОКНА УДАЛЕНИЯ ЮНИТА ----------------------->


    <!---------------------РЕДАКТИРОВАНИЕ ЮНИТОВ ------------------------------------------------->

    <!------- ИНФОРМАЦИОННЫЙ ЮНИТ------------------------------->
    <section class="mt-5" v-show="UnitSectionEditVisible.info">
    <div class="container">
        <div class="row row-cols-4">
            <div class="col-12 text-center">
                <h5 class="mb-2">Редактирование блока: <strong>{{infoObjEdit.name}}</strong></h5>
                <hr>
            </div>
        </div>
        <form id="infoUnitFormEdit" @submit.prevent="submitUnit('info', infoObjEdit)">
        <div class="row" id="infoFormEdit">
            <div class="col-6">
                <label for="infoNameEdit" class="form-label">Информационный текст:</label>
                <textarea name="infoNameEdit" required class="form-control" id="infoNameEdit" rows="3"  v-model="infoObjEdit.name"></textarea>
                <input type="checkbox" id="infoNameEditCheckbox" class="mx-2" @change="checkStartUnit($event,'info')"  v-model="infoObjEdit.start" v-bind:true-value="1" v-bind:false-value="0"/>
                <label  for="infoNameEditCheckbox" >Стартовый блок? </label>
                <br> <input type="submit" class="my-3 btn btn-outline-primary"  value="Сохранить изменения"/>
            </div>
            <div class="col-6">
                <label for="infoExitsEdit" class="form-label">Добавление выхода(ов):</label>
                <select id="infoExitsEdit" class="form-select form-select mb-3" v-model="currentTempArrayExitInfo.link" @change="addExitsToInfo()">
                    <option value="" selected disabled >Укажите выход для блока</option>
                    <option v-for="unit in loadedUnits" :value="topic.id+':'+unit.id" v-text="unit.id+' : '+unit.name"></option>
                    <option value="-1">Закончить урок</option>
                </select>
                <label for="infoExitsShow" class="mx-5 form-label">Текущий выход:</label>
                <div id="infoExitsShow" class="alert alert-info alert-dismissible fade show" role="alert" v-for="(item, index) in infoObjEdit.exits">
                    <strong>{{item.link}}</strong> {{item.text}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" @click="removeUnitFromArr(index,'info')" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </form>
    </div>
</section>
    <!------- КОНЕЦ ИНФОРМАЦИОННОГО ЮНИТА----------------------->

    <!------- ЮНИТ С УСЛОВИЕМ----------------------------------->
    <section class="mt-5" v-show="UnitSectionEditVisible.choice">
        <div class="container">
            <div class="row row-cols-4">
                <div class="col-12 text-center">
                    <h5 class="mb-2">Редактирование блока: <strong>{{choiceObjEdit.name}}</strong></h5>
                    <hr>
                </div>
            </div>
            <form id="choiceUnitFormEdit" @submit.prevent="submitUnit('choice',choiceObjEdit)">
                <div class="row" id="choiceFormEdit">
                    <div class="col-6">
                        <label for="infoNameEdit" class="form-label">Условие:</label>
                        <textarea name="choiceNameEdit" required class="form-control" id="choiceNameEdit" rows="3"  v-model="choiceObjEdit.name"></textarea>
                        <input type="checkbox" id="choiceNameEditCheckbox" class="mx-2" @change="checkStartUnit($event,'choice')"  v-model="choiceObjEdit.start" v-bind:true-value="1" v-bind:false-value="0"/>
                        <label  for="choiceNameEditCheckbox" >Стартовый блок? </label>
                        <br> <input type="submit" class="my-3 btn btn-outline-primary"  value="Сохранить изменения"/>
                    </div>
                    <div class="col-6">
                        <label for="choiceExitsEdit" class="form-label">Выберите выход:</label>
                        <select id="choiceExitsEdit" class="form-select form-select mb-3" v-model="currentTempArrayExitChoice.link">
                            <option value="" selected disabled >Укажите выходы для блока</option>
                            <option v-for="unit in loadedUnits" :value="topic.id+':'+unit.id" v-text="unit.id+' : '+unit.name"></option>
                            <option value="-1">Закончить урок</option>
                        </select>
                        <label for="textForExitChoice" class="form-label">Укажите текст\метку для выхода:</label>
                        <input type="text" class="form-control" id="textForExitChoice" v-model="currentTempArrayExitChoice.text"/>
                        <input type="button" class="my-3 btn btn-outline-primary" @click="addExitsToChoice()" value="Добавить"><br>
                        <label for="infoExitsShow" class="mx-1 form-label">Текущие выходы:</label>
                        <div class="alert alert-info alert-dismissible fade show" :role="index" v-for="(item, index) in choiceObjEdit.exits">
                            <strong>{{item.link}}</strong> {{item.text}}
                            <button type="button" class="btn-close" :data-bs-dismiss="index" @click="removeUnitFromArr(index,'choice')" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </section>
    <!------- КОНЕЦ ЮНИТА С УСЛОВИЕМ---------------------------->


    <!------- ЮНИТ С ОПРОСОМ------------------------------------->
    <section class="mt-5" v-show="UnitSectionEditVisible.quiz">
        <div class="container">
            <div class="row row-cols-4">
                <div class="col-12 text-center">
                    <h5 class="mb-2">Редактирование блока: <strong>{{quizObjEdit.name}}</strong></h5>
                    <hr>
                </div>
            </div>
            <form id="quizUnitFormEdit" @submit.prevent="submitUnit('quiz',quizObjEdit)">
                <div class="row" id="quizFormEdit">
                    <div class="col-6">
                        <label for="quizNameEdit" class="form-label">Опрос:</label>
                        <input name="quizNameEdit" class="form-control" id="quizNameEdit"  v-model="quizObjEdit.name"/>
                        <p>Укажите необходимое количество ответов и отметьте верный(е)</p>
                        <aside v-for="(item, index) in quizObjEdit.param.allAnswer">
                            <div class="input-group mb-3 mt-2">
                                <input type="text" class="form-control" :id="'id'+item" v-model="quizObjEdit.param.allAnswer[index]"  :aria-describedby="'id'+item"/>
                                <span class="input-group-text" :id="'id'+index">
                                <div class="form-check">
                                    <input class="form-check-input" name="is_active" type="checkbox" :id="'id'+index" :value="quizObjEdit.param.allAnswer[index]" v-model="quizObjEdit.param.correctAnswer"  v-bind:true-value="quizObjEdit.param.correctAnswer" v-bind:false-value="!quizObjEdit.param.correctAnswer">
                                </div>
                                </span>
                            </div>
                        </aside>
                        <button class="btn btn-outline-info" @click.prevent="addAnswerField('edit')"><span class="material-icons">add</span></button>
                        <button class="ms-2 btn btn-outline-danger" @click.prevent="delAnswerField('edit')"><span class="material-icons">remove</span></button>
                        <input type="checkbox" id="quizNameEditCheckbox" class="mx-2" @change="checkStartUnit($event,'quiz')"  v-model="quizObjEdit.start" v-bind:true-value="1" v-bind:false-value="0"/>
                        <label  for="quizNameEditCheckbox" >Стартовый блок? </label>
                        <br> <input type="submit" class="my-3 btn btn-outline-primary"  value="Сохранить изменения"/>
                    </div>
                    <div class="col-6">
                        <label for="quizExitsEditTrue" class="form-label">Выберите выход для верного ответа:</label>
                        <select id="quizExitsEditTrue" class="form-select form-select mb-3" @change="addAnswerToArr($event,true)">
                            <option value="" selected disabled >Укажите выходы для блока</option>
                            <option v-for="unit in loadedUnits" :value="topic.id+':'+unit.id" v-text="unit.id+' : '+unit.name"></option>
                            <option value="-1">Закончить урок</option>
                        </select>
                        <label for="quizExitsEditFalse" class="form-label">Выберите выход для неверного ответа:</label>
                        <select id="quizExitsEditFalse" class="form-select form-select mb-3" @change="addAnswerToArr($event,false)">
                            <option value="" selected disabled >Укажите выходы для блока</option>
                            <option v-for="unit in loadedUnits" :value="topic.id+':'+unit.id" v-text="unit.id+' : '+unit.name"></option>
                            <option value="-1">Закончить урок</option>
                        </select>
                        <div class="alert-dismissible fade show alert " :class="{ 'alert-danger': !item.correct, 'alert-info': item.correct }" :role="quizObjEdit.exits[index]" v-for="(item, index) in quizObjEdit.exits">
                            <strong v-if="item.correct == true">Для верного ответа: {{item.link}}</strong> <strong v-else-if="item.correct == false">Для не верного ответа: {{item.link}}</strong>
                            <button type="button" class="btn-close" :data-bs-dismiss="quizObjEdit.exits[index]" @click="removeUnitFromArr(index,'quiz')" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </section>
    <!------- КОНЕЦ ЮНИТА С ОПРОСОМ------------------------------->

    <!--------------------------------------------КОНЕЦ БЛОКА РЕДАКТИРОВАНИЯ ЮНИТОВ ------------------------------------->
</template>
<script>
    import axios from 'axios';
    export default {
        props:['topic'],
  //------------------------БЛОК ПЕРЕМЕННЫХ------------------------------
        data(){
            return {
                consoleInform:[],
                consoleInformSection:false,
                UnitSectionEditVisible: {
                    info: false,
                    choice: false,
                    quiz: false
                },
                checkButton:true,
                selectedFields:'',
                currentStatus:["В архиве", "В работе", "Запущен"],
                loadedUnits:[],
                nameUnitsRu:{
                    info:'Информационный',
                    choice: 'Условие',
                    quiz:'Опрос'
                },
                tempDel:{
                    id:'',
                    name:'',
                    showContent:true,
                    showSpinner:false
                },
                infoObjEdit:{
                  id:'',
                  topic_id: this.topic.id,
                  name: '',
                  type:'',
                  param:{},
                  start:'',
                  exits:[]
                },
                infoObj:{
                    id:'',
                    topic_id: this.topic.id,
                    name:'',
                    type:'',
                    param:{},
                    exits:[]
                },
                quizObj:{
                    question:'',
                    correctAnswer:[],
                    allAnswer:["",""],
                    exits:[]
                },
                choiceObj: {
                    id:'',
                    topic_id: this.topic.id,
                    name:'',
                    type:'',
                    param:{},
                    exits:[]
                },
                quizObjEdit: {
                    id:'',
                    topic_id: this.topic.id,
                    name: '',
                    type:'',
                    param:{
                        allAnswer:{},
                        correctAnswer:{}
                    },
                    start:0,
                    exits:[]
                },
                choiceObjEdit: {
                    id:'',
                    topic_id: this.topic.id,
                    name: '',
                    type:'',
                    param:{},
                    start:0,
                    exits:[]
                },
                currentTempArrayExitChoice:{
                    text:'',
                    link:''
        },
                currentTempArrayExitInfo:{
                    text:'',
                    link:''
                },
                UnitFormVisible: {
                    info: false,
                    choice: false,
                    quiz: false
               },
            }
        },
  //-----------------------КОНЕЦ БЛОКА С ПЕРЕМЕННЫМИ---------------------

  //-----------------------ХУК ЖИЗНЕННОГО ЦИКЛА CREAED-------------------
        created() {
            this.getUnits()
        },
  //-----------------------КОНЕЦ ХУКА ЖИЗНЕННОГО ЦИКЛА CREAED------------

  //-----------------------МЕТОДЫ---------------------------------------
        methods: {
            //---Метод добавления выходов к блоку с опросом-------------
            addAnswerToArr(event,correct){
                if (Object.keys(this.quizObjEdit.exits).length==0) {
                    this.quizObjEdit.exits.push({
                        text:'',
                        correct:correct,
                        link:event.target.value
                    })
                } else {
                    if (this.quizObjEdit.exits.find((item, idx) => item.correct === correct)) {
                        this.quizObjEdit.exits.map((item,index) =>{
                           if(item.correct == correct){
                               this.quizObjEdit.exits[index].link = event.target.value
                           }
                        })
                    } else {
                        this.quizObjEdit.exits.push({
                            text:'',
                            correct:correct,
                            link:event.target.value
                        })
                   }
                }
            },
            //---Конец метода добавления выходов к блоку с опросом------

            //---Метод удаления выхода из массива-----------------------
            removeUnitFromArr(index,type){
                switch (type) {
                    case "info":
                        this.infoObjEdit.exits.splice(index, 1);
                        break;
                    case "choice":
                        this.choiceObjEdit.exits.splice(index, 1);
                        break;
                    case "quiz":
                        this.quizObjEdit.exits.splice(index,1)
                        break;
                }
            },
            //---Конец Метода удаления выхода из массива----------------

            //---Метод добавления выхода к блоку условий
            addExitsToChoice() {
                this.choiceObjEdit.exits.push({
                    text: this.currentTempArrayExitChoice.text,
                    link: this.currentTempArrayExitChoice.link
                });
                this.currentTempArrayExitChoice.text =''
                this.currentTempArrayExitChoice.link = ''

            },
            //---Конец Метода добавления выхода к блоку условий

            //---AJAX Метод отправки юнита для обновления -----------------------
            async submitUnit(type, data){
                let result =  await axios.post('/unit/update',{data: data, token:this.topic.token})
                    .then(
                        this.getUnits()
                    )
                this.UnitSectionEditVisible[type] = false
                return result
            },
            //---Конец AJAX Метода отправки юнита для обновления ----------------

            //---Метод проверки выходов из юнитов в топике-----------------------
            checkTopic(){
                if (this.UnitSectionEditVisible.info == true || this.UnitSectionEditVisible.choice == true || this.UnitSectionEditVisible.quiz == true){
                    alert("Сначала закройте форму редактирования юнита, сохранив изменения")
                } else {
                    this.consoleInformSection = true
                    this.consoleInform = []
                    this.consoleInform.push('-----   НАЧАТА ПРОВЕРКА ЮНИТОВ   -----')

                    let resultArr = []
                    this.loadedUnits.map((item, index) => {
                        let tempArr = {
                            id: item['id'],
                            type: item['type'],
                            exitsCount: 0,
                            startCount: item['start'],
                            endCount: 0,
                            exitsLink: [],
                            error: []

                        }

                        let exitsArr = JSON.parse(item['exits'])
                        exitsArr.forEach(value => {

                            if (value.link == -1) {
                                tempArr.endCount++
                            }
                            tempArr.exitsLink.push(value.link)
                        });

                        tempArr.exitsCount = exitsArr.length

                        if (tempArr.exitsLink.length<1) {
                            tempArr.error.push('У юнита с id:'+tempArr.id+' нет ни одного выхода!! ')
                        }
                        if (tempArr.type=='quiz'  && tempArr.exitsLink.length!=2) {
                            tempArr.error.push('Юнит с id:'+tempArr.id+' является опросом и должен иметь два выхода ! Сейчас: '+tempArr.exitsLink.length)
                        }
                        resultArr.push(tempArr)
                    })
                    let finalArr = {
                        exitsCount: 0,
                        allUnits: 0,
                        startUnit: 0,
                        repeatExits: 0,
                        errorCount: 0,
                        endCount: 0
                    }

                    resultArr.map((item, index) => {
                        for (let i = 1; i < item['exitsLink'].length; i++) {
                            if (item['exitsLink'][i] === item['exitsLink'][i - 1]) {
                                finalArr.repeatExits++;
                                this.consoleInform.push("У юнита с ID: " + item['id'] + " есть одинаковые выходы! Это не допустимо")
                                finalArr.errorCount++
                            }
                        }
                        finalArr.endCount = finalArr.endCount + item['endCount']
                        finalArr.startUnit = finalArr.startUnit + item['startCount']
                        finalArr.allUnits++
                        finalArr.exitsCount = finalArr.exitsCount + item['exitsCount']
                        if (item['error'].length!=0) {
                            finalArr.errorCount++
                            this.consoleInform.push(item['error'])
                        }



                    })
                    if (finalArr.startUnit < 1) {
                        this.consoleInform.push("Ни один юнит не имеет точки входа ! Это не допустимо! Зайдите в любой юнит и сделайте его стартовым")
                        finalArr.errorCount++
                    }
                    if (finalArr.startUnit > 1) {
                        this.consoleInform.push("У одного топика может быть только одна точка входа ! У вас - " + finalArr.startUnit)
                        finalArr.errorCount++
                    }
                    if (finalArr.endCount < 1) {
                        this.consoleInform.push("Должен быть как минимум один выход из топика ! У вас нет ни одного! ")
                        finalArr.errorCount++
                    }
                    if (finalArr.allUnits == 0) {
                        this.consoleInform.push("У вас нет ни одного юнита")
                        finalArr.errorCount++
                    }
                    if (finalArr.errorCount == 0) {
                        this.consoleInform.push('Проверка успешно пройдена ! Все юниты соответствуют требованиям.')
                        this.consoleInform.push('-----   ЗАКОНЧЕНА ПРОВЕРКА ЮНИТОВ   -----')
                        this.topic.status = 2
                        setTimeout(() =>
                                document.getElementById("topicDate").submit(),
                            2000);
                    } else {
                        this.consoleInform.push('Не все требования соблюдены ! Исправьте и повторите попытку')
                        this.consoleInform.push('-----   ЗАКОНЧЕНА ПРОВЕРКА ЮНИТОВ   -----')
                    }
                }
            },
            //---Конец Метода проверки выходов из юнита в топике-----------------

            //---Метод проверки на наличие стартового юнита в топике-------------
            checkStartUnit(event,type){
                if (event.target.checked === true){
                    switch (type) {
                        case "info":
                            this.loadedUnits.map(item => {
                                if((item['id'] != this.infoObjEdit.id) && (item['start']==true)) {
                                    alert("В этом уроке уже есть стартовый блок с id:"+item['id']+" Сначала измените его  ");
                                    this.infoObjEdit.start = 0
                                }
                            })
                            break;
                        case "choice":
                            this.loadedUnits.map(item => {
                                if((item['id'] != this.choiceObjEdit.id) && (item['start']==true)) {
                                    alert("В этом уроке уже есть стартовый блок с id:"+item['id']+" Сначала измените его  ");
                                    this.choiceObjEdit.start = 0
                                }
                            })
                            break;
                        case "quiz":
                            this.loadedUnits.map(item => {
                                if((item['id'] != this.quizObjEdit.id) && (item['start']==true)) {
                                    alert("В этом уроке уже есть стартовый блок с id:"+item['id']+" Сначала измените его  ");
                                    this.quizObjEdit.start = 0
                                }
                            })
                            break;
                    }
                }
            },
            //---Конец Метода проверки на наличие стартового юнита в топике------

            //---Метод отображения формы редактирования юнита и заполнения данными---
            showEditUnit(id, type){
                this.UnitSectionEditVisible['info'] = false
                this.UnitSectionEditVisible['choice'] = false
                this.UnitSectionEditVisible['choice'] = false
                this.UnitSectionEditVisible[type] = true
                switch (type) {
                    case "info":
                        this.loadedUnits.map(item => {
                            if(item['id'] === id) {
                                this.infoObjEdit.id = item['id']
                                this.infoObjEdit.name = item['name']
                                this.infoObjEdit.type = item['type']
                                this.infoObjEdit.start = item['start']
                                this.infoObjEdit.exits =JSON.parse(item['exits'])
                            }
                        })
                        break;
                    case "choice":
                        this.loadedUnits.map(item => {
                            if(item['id'] === id) {
                                this.choiceObjEdit.id = item['id']
                                this.choiceObjEdit.name = item['name']
                                this.choiceObjEdit.type = item['type']
                                this.choiceObjEdit.start = item['start']
                                this.choiceObjEdit.exits= JSON.parse(item['exits'])
                            }
                        })
                        break;
                    case "quiz":
                        this.loadedUnits.map(item => {
                            if(item['id'] === id) {
                                this.quizObjEdit.id = item['id']
                                this.quizObjEdit.name = item['name']
                                this.quizObjEdit.type = item['type']
                                this.quizObjEdit.start = item['start']
                                this.quizObjEdit.exits =JSON.parse(item['exits'])
                                this.quizObjEdit.param = JSON.parse(item['param'])
                                this.quizObjEdit.param.allAnswer = JSON.parse(this.quizObjEdit.param.allAnswer)
                                this.quizObjEdit.param.correctAnswer = JSON.parse(this.quizObjEdit.param.correctAnswer)
                            }
                        })
                        break;
                }
            },
            //---Конец Метода отображения формы редактирования юнита и заполнения данными---

            //---AJAX Метод получения всех юнитов текущго топика-----------------
            async getUnits(){
                let result = await  axios.get('/unit/'+this.topic.id)
                this.loadedUnits = result.data
            },
            //---Конец AJAX Метода получения всех юнитов текущго топика----------

            //---AJAX Метод сохранения юнита для текущго топика------------------
            async storeUnit(data){
                let result =  await axios.post('/unit/store',{data})
               .then(this.getUnits())
                return result
            },
            //---Конец AJAX Метода сохранения юнита для текущго топика----------

            //---Метод добавления\изменения выхода к блоку инфо-----------------
            addExitsToInfo(){
                this.infoObjEdit.exits=[]
                this.infoObjEdit.exits.push(this.currentTempArrayExitInfo);
            },
            //---Конец Метода добавления\изменения выхода к блоку инфо-----------

            //---Метод показа диалогового окна удаления юнита-------------------
            showDelUnitModal(id,name){
                this.UnitSectionEditVisible.info = false
                this.UnitSectionEditVisible.choice = false
                this.UnitSectionEditVisible.quiz = false
                this.tempDel.id=id
                this.tempDel.name = name

            },
            //---Конец Метода показа диалогового окна удаления юнита-------------

            //---AJAX Метод удаления юнита из текущго топика---------------------
            async deleteUnit(id){
              this.tempDel.showContent = false
              this.tempDel.showSpinner = true
              const result = await  axios.delete('/unit/delete', {data:{id:id, token:this.topic.token }})
               if (result.data == 1) {
                   document.getElementById('closeDelForm').click()
                   this.getUnits()
                   this.tempDel.id=''
                   this.tempDel.name=''
                   this.tempDel.showContent = true
                   this.tempDel.showSpinner = false
               }
            },
            //---Конец AJAX Метода удаления юнита из текущго топика--------------

            //---Метод добавления поля для юнита с опросом-----------------------
            addAnswerField(type){
                switch (type) {
                    case "edit":
                        this.quizObjEdit.param.allAnswer.push('')
                        break;
                    case "add":
                        this.quizObj.allAnswer.push('')
                        break;
                }
            },
            //---Конец метод добавления поля для юнита с опросом-----------------

            //---Метод удаления поля для юнита с опросом ------------------------
            delAnswerField(type){
                switch (type) {
                    case "edit":
                        if (this.quizObjEdit.param.allAnswer.length>2) {
                            this.quizObjEdit.param.allAnswer.pop()
                        } else {
                            alert("Должно быть минимум 2 варианта ответа")
                        }
                        break;
                    case "add":
                        if (this.quizObj.allAnswer.length>2) {
                            this.quizObj.allAnswer.pop()
                        } else {
                            alert("Должно быть минимум 2 варианта ответа")
                        }
                        break;
                }
            },
            //---Конец Метода удаления поля для юнита с опросом------------------

            //---Метод выбора юнита и показа формы------- ------------------------
            changeUnitSelect(){
                this.UnitFormVisible['info'] = false
                this.UnitFormVisible['choice'] = false
                this.UnitFormVisible['quiz'] = false
                this.UnitFormVisible[this.selectedFields] = true
                this.error = ''
            },
            //---Конец Метода выбора юнита и показа формы--------------------------

            //---Метод добавления юнита и отправки в базу-------------------------
            addUnit(type){
                switch (type) {
                    case "info":
                        this.infoObj['type']=type
                        this.storeUnit(this.infoObj)
                        this.infoObj.name=''
                        this.error = ''
                        break;
                    case "choice":
                            this.choiceObj['type']=type
                            this.storeUnit(this.choiceObj)
                            this.error = ''
                            this.choiceObj['name']=''
                        break;
                    case "quiz":
                        this.infoObj['name'] =this.quizObj.question
                        this.infoObj['type']=type
                        this.infoObj.param.allAnswer = JSON.stringify(this.quizObj.allAnswer)
                        this.infoObj.param.correctAnswer = JSON.stringify(this.quizObj.correctAnswer)
                        this.storeUnit(this.infoObj)
                        this.quizObj.allAnswer = ["",""]
                        this.quizObj.correctAnswer = []
                        this.quizObj.question =''
                        break;

                }
            }
            //---Конец Метода добавления юнита и отправки в базу-------------------------
        }
  //---------------------КОНЕЦ МЕТОДОВ----------------------------------
    }
</script>
